*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body{
	background: url('img/bg-1.jpg');
	background-position: center;
	background-repeat: no-repeat;
}
.navbar{
	background: transparent;
	color: #fff;
}
.container{
	margin-top: 100px;
	padding: 100px 0px 200px 0px;
}
.btn{
	font-size: 1.9em;
}
.btn:hover{
	color: #fff; 
}